/* Import Tailwind CSS directives */
@import "tailwindcss";

/* Fonts */
/* open-sans-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/open-sans-v40-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/open-sans-v40-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Your custom CSS can go below this line */

@theme {
  /* Fonts */
  --font-sans: 'Open Sans', sans-serif;
  /* Text sizes */
  --text-xs: 0.75rem;
  /* 12px / 16 = 0.75rem */
  --text-sm: 0.875rem;
  /* 14px / 16 = 0.875rem */
  --text-base: 1rem;
  /* 16px / 16 = 1rem */
  --text-lg: 1.125rem;
  /* 18px / 16 = 1.125rem */
  --text-xl: 1.25rem;
  /* 20px / 16 = 1.25rem */
  --text-2xl: 1.5rem;
  /* 24px / 16 = 1.5rem */
  --text-3xl: 2rem;
  /* 32px / 16 = 2rem */

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  /* brand or company colors */
  --color-brand-gray-100: #dadce0;
  --color-brand-blue-100: #1967d2;
  --color-brand-green-100: #137333;
}
